# Java/Maven
**/target/
**/build/
*.class
*.jar
*.war
*.ear

# IDE
**/.idea/
**/*.iml
.vscode/
*.swp
*.swo

# Secrets & Config
.env
.env.*
!.env.example
.env.production.example
**/application-local.properties
**/application-local.yml

# Logs
**/*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Node
**/node_modules/

# Docs / temp files
*.md


*.json

# SQL files
*.sql


# Temporary files
*.tmp
*.temp

*.txt

*.properties